<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Toys For Boys')"></head>
<body>
<h2>Unshipped Orders</h2>
<table>
    <form th:if="${orders}"
          method="post" th:action="@{/setAsShipped}">
        <div th:each="order,custStat:${orders}" th:object="${order}">
            <thead th:if="${custStat.first}">
            <tr>
                <th>ID</th>
                <th>Ordered</th>
                <th>Required</th>
                <th>Customer</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Ship
                    <button>Set as shipped</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ><a th:text="*{id}" th:href="@{/order/{orderid}(orderid=*{id})}"></a></td>
                <td th:text="*{ordered}"></td>
                <td th:text="*{required}"></td>
                <td th:text="*{customer.name}"></td>
                <td th:text="*{comments}"></td>
                <td >
                    <img th:text="*{status}" th:src="@{/images/{naam}.png(naam=*{status})}" th:alt="*{status}">
                </td>
                <td><input type="checkbox" name="ids" th:value="*{id}"></td>
            </tr>
            </tbody>
        </div>
    </form>
</table>
</body>
</html>