<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Toys For Boys')"></head>
<body>
        <div th:each="order,custStat:${orders}" th:object="${order}">
            <h1 th:text="|Order *{id}|"></h1>
            <dl th:if="${custStat.first}">
                <dt>Ordered:</dt>
                <dd><span th:text="*{ordered}"></span></dd>
                <dt>Required:</dt>
                <dd><span th:text="*{required}"></span></dd>
                <dt>Customer:</dt>
                <dd><span th:text="|*{customer.name}
                                    *{customer.streetAndNumber}
                                    *{customer.city}
                                    *{customer.postalCode}
                                    *{customer.state}
                                    *{customer.country.name}|"></span></dd>
                <dt>Comments:</dt>
                <dd><span th:text="*{comments}"></span></dd>
                <dt>Details:</dt>
                <dd><span></span></dd>
            </dl>
         </div>

<table class="order" th:if="${orderTables}"
       th:each="orderTable,custStat:${orderTables}" th:object="${orderTable}">
        <thead th:if="${custStat.first}">
        <tr>
            <th>Product</th>
            <th>Price Each</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Deliverable</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{productName}"></td>
            <td th:text="*{priceEach}"></td>
            <td th:text="*{quantity}"></td>
            <td th:text="*{totaal}"></td>
            <td th:utext="${orderTable.quantity} - ${orderTable.inStock} <0? '&check;':'&cross;'" ></td>
        </tr>
        </tbody>
</table>
<div>
    <h3 th:text="|Value : ${totaalPrijs}|"></h3>
</div>
</body>
</html>